:root {
    --primary-colour: rgb(199, 98, 31);
    --primary-colour-translucent: rgb(199, 98, 31, 0.25);
    --primary-colour-translucent2: rgba(199, 98, 31, 0.125);
}

.ViewPost .navbar .search-bar {
    visibility: hidden;
}

.ViewPost .username {
    margin-top: 48px;
}

.ViewPost .question {
    color: var(--primary-colour);
    font-size: 2.25rem;
    font-weight: 600;
}

.ViewPost .description {
    color: #9d9d9d;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.ViewPost .cta {
    display: flex;
    justify-content: start;
    align-items: center;
}

.ViewPost .cta div {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    padding: 0 20px;
    border-radius: 16px;
    background-color: var(--primary-colour-translucent2);
}

.ViewPost .cta div:hover {
    background-color: var(--primary-colour-translucent);
}

.ViewPost .cta div span {
    margin-right: 8px;
}