:root {
    --primary-colour: rgb(199, 98, 31);
    --primary-colour-translucent: rgb(199, 98, 31, 0.25);
}

.Post {
    width: 750px;
    border: 1px solid #373737;
    border-radius: 12px;
    margin: 20px auto;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #373737;
    height: 40px;
    /* margin-bottom: 16px; */
}

.user {
    display: flex;
    align-items: center;
}

.user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.username {
    font-weight: bold;
    color: #ffffff;
    margin: auto 0;
}

.time-ago {
    color: #9d9d9d;
}

.Post .main-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.question {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-colour);
    margin-bottom: 4px;
}

.question-box {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 550px;
}

.description {
    color: #b4b4b4;
    margin-bottom: 16px;
} 

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px 0 32px;
    border-left: 1px solid #373737;
    margin-left: 20px;
    margin-top: 16px;
}

.stat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding-right: 20px;
    border-radius: 12px;
}

.votes:hover {
    background-color: var(--primary-colour-translucent);
    cursor: pointer;
}

.stat-card span {
    margin: 0 8px;
}

.Post .username, .Post .question, .Post .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}