#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  --primary-colour: rgb(199, 98, 31);
  --primary-colour-translucent: rgb(199, 98, 31, 0.25);
  --secondary-colour: rgb(0, 153, 255);
}

.log-in {
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
}

.sign-up {
  background-color: var(--primary-colour);
  color: #242424;
}