#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  --primary-colour: rgb(199, 98, 31);
  --primary-colour-translucent: rgb(199, 98, 31, 0.25);
  --secondary-colour: rgb(0, 153, 255);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #242424;
  border-bottom: 1px solid #373737;
  color: white;
  padding: 12px;
  padding-bottom: 20px;
}

.navbar-logo img {
  height: 50px; /* Example size for logo */
  width: auto;
}

.search-bar {
  margin: 0 auto;
  width: 50%;
}

.search-bar input[type="text"] {
  font-size: 16px;
  padding: 10px 16px;
  width: 100%;
  background-color: #242424;
  border-radius: 8px;
  border: 1px solid #373737;
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.navbar-buttons a {
  text-decoration: none;
  font-weight: 500;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.log-in {
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
}

.sign-up {
  background-color: var(--primary-colour);
  color: #242424;
}